html{
    background: #1C1C1C;
}
.headbox {
    display: flex;
    max-width: 100%;
    border: black dotted 4px;
}

.headcontent{
    height: 150px;
    flex: 1 auto;
}

.left{
    background-image: linear-gradient(180deg, #0022A3, #00F5F5);
    width: 80%;
    color: black;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}

.right{
    background-image: linear-gradient(180deg, #005555, #00FF55);
    width: 20%;
}