
body {
    border: solid black 2px;
}

header {
   background-color: rgb(25, 206, 25);
   display: inline-block;
   position:sticky;
   max-width: 100%;
   justify-content: left;
   align-items: left;
   font-size: 22px;    
}

img {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: pink;
    position: right;
}